
<div class="container-info">
    <div class="container-title">
        
        <h2 class="h3-title">{{this.dataPokemon.pokemon.name}}</h2>
        <span class="material-icons close-icon"  [mat-dialog-close]="true">close</span>
    </div>

    <div class="container-img">
        <p class="info-subtitle">Fotos de referencia</p>
        <img class="img-pokemon" src="{{this.dataPokemon.pokemon.sprites.front_default}}" alt="front1">
        <img class="img-pokemon" src="{{this.dataPokemon.pokemon.sprites.back_default}}" alt="back1">
        <img class="img-pokemon" src="{{this.dataPokemon.pokemon.sprites.front_shiny}}" alt="front2">
        <img class="img-pokemon" src="{{this.dataPokemon.pokemon.sprites.back_shiny}}" alt="back2">
     
    </div>

    <div class="container-data">

        <div class="div-info">
            <h3 class="info-title">Peso</h3>
            <p class="info-subtitle">{{this.dataPokemon.pokemon.weight}}</p>
    
        </div>
        <div class="div-info">
            <h3 class="info-title">Estatura</h3> 
            <p class="info-subtitle">{{this.dataPokemon.pokemon.height}}</p>
        </div>

        <div class="w-30">
            <h3 class="info-title">Experiencia base</h3> 
            <p class="info-subtitle">{{this.dataPokemon.pokemon.base_experience}}</p>
        </div>

        <div class="div-info">
            <h3 class="info-title">Tipo</h3> 
            <p class="info-subtitle">{{this.dataPokemon.pokemon.type}}</p>
        </div>
   
   


    </div>
</div>