
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 30px;
  }


  .custom-tooltip-detail {
    font-weight: bold;
    font-size: 10pt;
}